<%- include('menu')%>

<div class="container">
    <h1>add user</h1>
    <form action="/useraction" method="Post">
        <input type="text" placeholder="Name" name="name" /><br>
        <input type="text" placeholder="email" name="email" /><br>
        <input type="text" placeholder="mobile no" name="mobile"/><br>
        <button>add</button>
    </form>
</div>
